{% extends '_base.html' %}

{% block content %}
    {% load static %}
    <body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/load.gif' %}" alt="#"/></div>
    </div>
    <!-- end loader -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Mouse</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    {% for mouse in Mouse_context %}
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                            <div class="brand_box">
                                <img src="{{ mouse.image.url }}" alt="img"/>
                                <h3>$<strong class="red">{{ mouse.price }}</strong></h3>
                                <span>{{ mouse.name }}</span>
                                <i><img src="{% static 'images/star.png' %}"/></i>
                                <i><img src="{% static 'images/star.png' %}"/></i>
                                <i><img src="{% static 'images/star.png' %}"/></i>
                                <i><img src="{% static 'images/star.png' %}"/></i>
                                <br>
{#                                <a href="{% url 'post_detail_accessories' mouse.id %}">ادامه مطلب</a>#}
                                    <div>
                                    <a href="{% url 'post_detail_accessories' mouse.id %}"><button class="btn"><i class="animation"></i>See More<i class="animation"></i>
                                    </button></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
{% endblock content %}