{% extends '_base.html' %}
{% block content %}
    {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>pomato</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/load.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2 style="color: #000000;">{{ context.name }}</h2>
                        <h3 style="color: #000000;">{{ context.model }}</h3>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div style="width: 1110px; height: 600px; position: relative; background: white">
                            <div style="width: 331px; height: 525px; left: 286px; top: 37px; position: absolute; background: #F6F6F6; box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25)"></div>
                            <div style="width: 428px; height: 525px; left: 650px; top: 37px; position: absolute; background: #F6F6F6; box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.25)"></div>
                            <img style="width: 248px; height: 250px; left: 16px; top: 38px; position: absolute" src="{{ context.image.url }}" />
                            <div style="width: 273px; height: 473px; left: 314px; top: 62px; position: absolute"><span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">Size: {{ context.size }}<br/>Weight: 177g<br/>SIM card number: 2<br/>internal memory: 32GB<br/>Amount of RAM: 2GB<br/>Arrows: LED<br/>Technology: PLS TFT<br/>Processor type: 64bit<br/><br/></span><span style="color: black; font-size: 22px; font-family: Inter; font-weight: 800; word-wrap: break-word">Price:</span><span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word"> </span><span style="color: #FF0000; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{ context.price }}</span><span style="color: black; font-size: 22px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            <br/></span></div>
                            <div style="width: 393px; height: 473px; left: 667px; top: 62px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">{{ context.description }}
                            <br/></div>
                            <div class="col-md-12">
                                <!--  -->
                                <!-- <a class="read-more" href = {% url "buy" %}>Buy</a> -->

                                <form  method="post" class="read-more" action="{% url  'post_detail_laptop' context.id  %}">
                                    {% csrf_token %}
                                        
                                        
                                        
                                        {% if user.is_authenticated %}
                                        <button  class="tg-btn tg-btnaddtocart add_btn" type="submit" value="submit">add to cart</button>
                                        {% else %}
                                        <a  class="tg-btn tg-btnaddtocart add_btn"  href="{% url 'users:login' %}">add to cart</a>
                                        {% endif %}
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}
    <!-- end brand -->

{#    <!-- Javascript files-->#}
{#    <script src="js/jquery.min.js"></script>#}
{#    <script src="js/popper.min.js"></script>#}
{#    <script src="js/bootstrap.bundle.min.js"></script>#}
{#    <script src="js/jquery-3.0.0.min.js"></script>#}
{#    <script src="js/plugin.js"></script>#}
{#    <!-- sidebar -->#}
{#    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>#}
{#    <script src="js/custom.js"></script>#}
{#    <!-- javascript -->#}
{#    <script src="js/owl.carousel.js"></script>#}
{#    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>#}
{#    <script>#}
{#        $(document).ready(function() {#}
{#            $(".fancybox").fancybox({#}
{#                openEffect: "none",#}
{#                closeEffect: "none"#}
{#            });#}
{##}
{#            $(".zoom").hover(function() {#}
{##}
{#                $(this).addClass('transition');#}
{#            }, function() {#}
{##}
{#                $(this).removeClass('transition');#}
{#            });#}
{#        });#}
{#    </script>#}
{#</body>#}
{##}
{#</html>#}